<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Submit PayForBlob Transaction</title>
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
  <div class="container">
    <form method="get" class="node">
      <div class="form_rows_container flex">
        <div class="form_field_container">
          <span class="form_field_label">Node</span>
          <input name="tx_node_url" class="form_field_input" type="url" value="{{ node_url }}" placeholder="Node url" required>
        </div>
        <div class="form_field_container" style="padding: 10 0 0 0;">
          <div class="node_status" title="rpc_url">node status</div>
        </div>
      </div>
      <div class="form_rows_container flex">
        <div class="form_field_container">
          <span class="form_field_label">Gas limit</span>
          <input name="tx_gas_limit" class="form_field_input" type="number" value="{{ gas_limit }}" min="1" placeholder="Gas limit" required>
        </div>
        <div class="form_field_container">
          <span class="form_field_label">Fee</span>
          <input name="tx_fee" class="form_field_input" type="number" value="{{ fee }}" min="1" placeholder="Fee" required>
        </div>
      </div>
      <br>
      <div class="form_field_container">
        <span class="form_field_label">Data</span>
        <textarea name="tx_data" class="form_field_textarea" placeholder="Please type your data" required></textarea>
      </div>
      <button class="form_button">Submit</button>
    </form>
    <div class="transaction" style="display: none;">
      <div class="transaction_title">Transaction info</div>
      <div class="transaction_info_item">
        <div></div>
        <div>
          <span class="emblem">text:</span>
          <span id="tx_info_decode_data"></span>
        </div>
        <div>
          <span class="emblem">hex:</span> <span id="tx_info_encode_data"></span>
        </div>
      </div>
      <div class="transaction_info_item">
        <div class="tx_title"><b>Transaction hash:</b></div>
        <div>
          <a href="#" id="tx_info_tx_hash_link" class="flex" target="_blank">
            <span id="tx_info_tx_hash"></span>
          </a>
        </div>
      </div>
      <div class="transaction_row">
        <div class="transaction_row_data">
          <span><b>Date and Time:</b></span>
          <span id="tx_info_date"></span>
        </div>
        <div class="transaction_row_data">
          <span><b>Namespace ID:</b></span>
          <span id="tx_info_namespace_id"></span>
        </div>
        <div class="transaction_row_data">
          <span><b>Height:</b></span>
          <span id="tx_info_height"></span>
        </div>
        <div class="transaction_row_data">
          <span><b>Gas used:</b></span>
          <span id="tx_info_gas_used"></span>
        </div>
        <div class="transaction_row_data">
          <span><b>Code:</b></span>
          <span id="tx_info_code"></span>
        </div>
      </div>
      <div class="transaction_info_item">
        <button class="form_button btn_get_shares">Get shares</button>
        <pre id="get_shares_data" style="white-space: break-spaces;word-wrap: break-word;"></pre>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="/static/js/simple-notify.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
